/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  /*width: fit-content;*/
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
/*  align-content: center; */
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
/*  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column; */
}

/*#about {
  display: flex;
  flex-direction: column;
} */

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  margin-bottom: 10px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 60px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
  min-width: 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
/*  display: inline;
  flex-direction: column; */
  justify-content: space-evenly; 
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/*.left-justified {
  text-align: left;
}*/

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form div {
  display: flex;
/*  flex-direction: row; */
  justify-content: space-between;
}

form label {
  font-weight: bold;
/*  display: inline-block; */
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
/*  body {
    display: flex;
    width: fit-content;
  } */

  header {
    display: flex;
    justify-content: space-between;
  /*  align-items: flex-start; */
  }

  .logo {
    font-size: 48px;
    margin-bottom: 20px;
  }

  section {
 /*   align-content: center;
    text-align: center;
    flex-direction: row; */
    padding: 20px;
  }

 /* header nav {
    position: absolute;
    right: 0;
    font-size: 14px;
  }

  nav ul li {
    display: flex;  
    flex-direction: row;
  } */

  form {
    display: flex;
 /*   flex-wrap: wrap;  */
    justify-content: space-between;
  /*  padding-right: 10px; */
  }

  form div {
    display: flex;
    flex-direction: column;
/*    padding-left: 10px;
    padding-right: 10px;
    text-align: left; */
    min-width: 0;
    margin-right: 20px;
/*    padding: 0 0 15px; */
  }

  form label {
    align-self: flex-start;
  }

/*  form input {
    width: 80%;
  } */

  form select, form input, form button {
    width: 100%; 
    margin-bottom: 5px;
  }

  form button {
    font-size: 16x;
    padding: 10px;
    width: auto; 
  }

  #about img {
    padding: 10px;
    display: flex;
    flex-grow: 1;
  }

  #about div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #about p {
    padding: 10px;
    text-align: left;
    flex-grow: 2;
  }

  img {
    width: 100%;
    margin-bottom: 20%;
  }

  #ideas img {
    display: flex;
    flex-direction: block;
    flex-grow: 1; 
    margin: auto; 
  }

  #ideas div {
    justify-content: space-evenly;
  }

  .ideasContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

  .ideas {
  /*  display: flex;
    align-items: center; */
  /*  flex-basis: 50%; */
  }

  h3 {
    text-align: left;
  }

  img {
    max-width: 500px;
    margin: 10px;
  } 

  #host {
    display: flex;
    flex-direction: row;
  }

  #host h2 p {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .host {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
  } 
}